<a href="https://colab.research.google.com/github/baker371/k8-data-visualization/blob/lwasampijja-baker/upwork-devs/lwasampijja-baker/Visuals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [46]:
import requests
import pandas as pd 
import json
import os
from pandas.io.json import json_normalize #package for flattening json in pandas df

pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)
pd.set_option('display.max_colwidth', None)
pd.set_option('display.expand_frame_repr', False)

import warnings
warnings.filterwarnings('ignore')

In [47]:
jtoken = os.getenv('GITHUB_TOKEN', '')
vis = f"https://api.github.com/repos/filetrust/k8-data-visualization/issues"
params = {
    "state": "all",
}
headers = {'Authorization': f'token {jtoken}'}
r1 = requests.get(vis, headers=headers, params=params)
data1 = r1.json() 
data1 = json_normalize(data1, max_level=1)
df1 = pd.DataFrame.from_dict(data1)

df1= df1[['number', 'assignee.login']]

df1

    number assignee.login
0       53            NaN
1       52       mnjenga2
2       51        lucia15
3       50  manish2kcoder
4       49       dtollaku
5       48       baker371
6       47    rajmbcoderx
7       46       GiuseMSD
8       45      chrisdiao
9       44      chrisdiao
10      43      chrisdiao
11      42      chrisdiao
12      41    amanthegeek
13      40      chrisdiao
14      39      chrisdiao
15      38  manish2kcoder
16      37  manish2kcoder
17      36  manish2kcoder
18      35  manish2kcoder
19      34      chrisdiao
20      33       baker371
21      32       baker371
22      31       mnjenga2
23      30    susilupwork
24      29    rajmbcoderx
25      28            NaN
26      27       baker371
27      26    amanthegeek
28      25    susilupwork
29      24       baker371

In [48]:
token = ''

headers = {'X-Authentication-Token': token, }

url = 'https://api.zenhub.io/p1/repositories/289667349/board'

r = requests.get(url, headers=headers).json()

In [49]:
r

{'pipelines': [{'id': 'Z2lkOi8vcmFwdG9yL1BpcGVsaW5lLzIxOTE4OTQ',
   'issues': [],
   'name': 'New Issues'},
  {'id': 'Z2lkOi8vcmFwdG9yL1BpcGVsaW5lLzIxOTE4OTY',
   'issues': [{'is_epic': False, 'issue_number': 34, 'position': 3},
    {'is_epic': False, 'issue_number': 36, 'position': 4},
    {'is_epic': False, 'issue_number': 37, 'position': 5},
    {'is_epic': False, 'issue_number': 38, 'position': 6},
    {'is_epic': False, 'issue_number': 39, 'position': 7},
    {'is_epic': False, 'issue_number': 40, 'position': 8},
    {'is_epic': False, 'issue_number': 42, 'position': 9},
    {'is_epic': False, 'issue_number': 49, 'position': 11},
    {'is_epic': False, 'issue_number': 51, 'position': 12},
    {'is_epic': False, 'issue_number': 53, 'position': 13}],
   'name': 'Backlog'},
  {'id': 'Z2lkOi8vcmFwdG9yL1BpcGVsaW5lLzIxOTE4OTc',
   'issues': [{'is_epic': False, 'issue_number': 10, 'position': 0},
    {'is_epic': False, 'issue_number': 32, 'position': 3},
    {'is_epic': False, 'issue_number': 46, 'position': 6},
    {'is_epic': False, 'issue_number': 45, 'position': 7},
    {'is_epic': False, 'issue_number': 35, 'position': 8},
    {'is_epic': False, 'issue_number': 41, 'position': 11},
    {'is_epic': False, 'issue_number': 50, 'position': 12}],
   'name': 'In Progress'},
  {'id': 'Z2lkOi8vcmFwdG9yL1BpcGVsaW5lLzIxOTU3NzY',
   'issues': [{'is_epic': False, 'issue_number': 52, 'position': 5},
    {'is_epic': False, 'issue_number': 12, 'position': 6},
    {'is_epic': False, 'issue_number': 48, 'position': 7}],
   'name': 'Peer Review'}]}

In [50]:
#pip install flatjson

In [51]:
import flatjson

In [52]:
data =  flatjson.dumps(r)

In [53]:
data1 = json_normalize(data)
df = pd.DataFrame.from_dict(data1)
df

                           pipelines[0].id pipelines[0].name                          pipelines[1].id pipelines[1].name  pipelines[1].issues[0].issue_number  pipelines[1].issues[0].is_epic  pipelines[1].issues[0].position  pipelines[1].issues[1].issue_number  pipelines[1].issues[1].is_epic  pipelines[1].issues[1].position  pipelines[1].issues[2].issue_number  pipelines[1].issues[2].is_epic  pipelines[1].issues[2].position  pipelines[1].issues[3].issue_number  pipelines[1].issues[3].is_epic  pipelines[1].issues[3].position  pipelines[1].issues[4].issue_number  pipelines[1].issues[4].is_epic  pipelines[1].issues[4].position  pipelines[1].issues[5].issue_number  pipelines[1].issues[5].is_epic  pipelines[1].issues[5].position  pipelines[1].issues[6].issue_number  pipelines[1].issues[6].is_epic  pipelines[1].issues[6].position  pipelines[1].issues[7].issue_number  pipelines[1].issues[7].is_epic  pipelines[1].issues[7].position  pipelines[1].issues[8].issue_number  pipelines[1].issues[8].is_epic  pipelines[1].issues[8].position  pipelines[1].issues[9].issue_number  pipelines[1].issues[9].is_epic  pipelines[1].issues[9].position                          pipelines[2].id pipelines[2].name  pipelines[2].issues[0].issue_number  pipelines[2].issues[0].is_epic  pipelines[2].issues[0].position  pipelines[2].issues[1].issue_number  pipelines[2].issues[1].is_epic  pipelines[2].issues[1].position  pipelines[2].issues[2].issue_number  pipelines[2].issues[2].is_epic  pipelines[2].issues[2].position  pipelines[2].issues[3].issue_number  pipelines[2].issues[3].is_epic  pipelines[2].issues[3].position  pipelines[2].issues[4].issue_number  pipelines[2].issues[4].is_epic  pipelines[2].issues[4].position  pipelines[2].issues[5].issue_number  pipelines[2].issues[5].is_epic  pipelines[2].issues[5].position  pipelines[2].issues[6].issue_number  pipelines[2].issues[6].is_epic  pipelines[2].issues[6].position                          pipelines[3].id pipelines[3].name  pipelines[3].issues[0].issue_number  pipelines[3].issues[0].is_epic  pipelines[3].issues[0].position  pipelines[3].issues[1].issue_number  pipelines[3].issues[1].is_epic  pipelines[3].issues[1].position  pipelines[3].issues[2].issue_number  pipelines[3].issues[2].is_epic  pipelines[3].issues[2].position
0  Z2lkOi8vcmFwdG9yL1BpcGVsaW5lLzIxOTE4OTQ        New Issues  Z2lkOi8vcmFwdG9yL1BpcGVsaW5lLzIxOTE4OTY           Backlog                                   34                           False                                3                                   36                           False                                4                                   37                           False                                5                                   38                           False                                6                                   39                           False                                7                                   40                           False                                8                                   42                           False                                9                                   49                           False                               11                                   51                           False                               12                                   53                           False                               13  Z2lkOi8vcmFwdG9yL1BpcGVsaW5lLzIxOTE4OTc       In Progress                                   10                           False                                0                                   32                           False                                3                                   46                           False                                6                                   45                           False                                7                                   35                           False                                8                                   41                           False                               11                                   50                           False                               12  Z2lkOi8vcmFwdG9yL1BpcGVsaW5lLzIxOTU3NzY       Peer Review                                   52                           False                                5                                   12                           False                                6                                   48                           False                                7

In [54]:
df = df.loc[:, ~df.columns.str.endswith('id')]
df = df.loc[:, ~df.columns.str.endswith('is_epic')]
df = df.loc[:, ~df.columns.str.endswith('position')]

In [55]:
new = df[df.columns[pd.Series(df.columns).str.startswith('pipelines[0]')]]
new = new.transpose() 
new.columns = new.iloc[0]
new = new[1:]
new = new.rename({'New Issues':'number'}, axis=1)
new['New Issues'] = 'New Issues'

In [56]:
bak = df[df.columns[pd.Series(df.columns).str.startswith('pipelines[1]')]]
bak = bak.transpose() 
bak.columns = bak.iloc[0]
bak = bak[1:]
bak = bak.rename({'Backlog':'number'}, axis=1)
bak['Backlog'] = 'Backlog'

In [57]:
prog = df[df.columns[pd.Series(df.columns).str.startswith('pipelines[2]')]]
prog = prog.transpose() 
prog.columns = prog.iloc[0]
prog = prog[1:]
prog = prog.rename({'In Progress':'number'}, axis=1)
prog['In Progress'] = 'In Progress'

In [58]:
peer = df[df.columns[pd.Series(df.columns).str.startswith('pipelines[3]')]]
peer = peer.transpose() 
peer.columns = peer.iloc[0]
peer = peer[1:]
peer = peer.rename({'Peer Review':'number'}, axis=1)
peer['Peer Review'] = 'Peer Review'

In [59]:
dfn = pd.concat([new, bak, prog, peer])
dfn

                                    number New Issues  Backlog  In Progress  Peer Review
pipelines[1].issues[0].issue_number     34        NaN  Backlog          NaN          NaN
pipelines[1].issues[1].issue_number     36        NaN  Backlog          NaN          NaN
pipelines[1].issues[2].issue_number     37        NaN  Backlog          NaN          NaN
pipelines[1].issues[3].issue_number     38        NaN  Backlog          NaN          NaN
pipelines[1].issues[4].issue_number     39        NaN  Backlog          NaN          NaN
pipelines[1].issues[5].issue_number     40        NaN  Backlog          NaN          NaN
pipelines[1].issues[6].issue_number     42        NaN  Backlog          NaN          NaN
pipelines[1].issues[7].issue_number     49        NaN  Backlog          NaN          NaN
pipelines[1].issues[8].issue_number     51        NaN  Backlog          NaN          NaN
pipelines[1].issues[9].issue_number     53        NaN  Backlog          NaN          NaN
pipelines[2].issues[0].issue_number     10        NaN      NaN  In Progress          NaN
pipelines[2].issues[1].issue_number     32        NaN      NaN  In Progress          NaN
pipelines[2].issues[2].issue_number     46        NaN      NaN  In Progress          NaN
pipelines[2].issues[3].issue_number     45        NaN      NaN  In Progress          NaN
pipelines[2].issues[4].issue_number     35        NaN      NaN  In Progress          NaN
pipelines[2].issues[5].issue_number     41        NaN      NaN  In Progress          NaN
pipelines[2].issues[6].issue_number     50        NaN      NaN  In Progress          NaN
pipelines[3].issues[0].issue_number     52        NaN      NaN          NaN  Peer Review
pipelines[3].issues[1].issue_number     12        NaN      NaN          NaN  Peer Review
pipelines[3].issues[2].issue_number     48        NaN      NaN          NaN  Peer Review

In [60]:
df_merge = pd.merge(dfn, df1, on='number')
df_merge = df_merge.rename({'assignee.login':'Assigned'}, axis=1)
df_merge

   number New Issues  Backlog  In Progress  Peer Review       Assigned
0      34        NaN  Backlog          NaN          NaN      chrisdiao
1      36        NaN  Backlog          NaN          NaN  manish2kcoder
2      37        NaN  Backlog          NaN          NaN  manish2kcoder
3      38        NaN  Backlog          NaN          NaN  manish2kcoder
4      39        NaN  Backlog          NaN          NaN      chrisdiao
5      40        NaN  Backlog          NaN          NaN      chrisdiao
6      42        NaN  Backlog          NaN          NaN      chrisdiao
7      49        NaN  Backlog          NaN          NaN       dtollaku
8      51        NaN  Backlog          NaN          NaN        lucia15
9      53        NaN  Backlog          NaN          NaN            NaN
10     32        NaN      NaN  In Progress          NaN       baker371
11     46        NaN      NaN  In Progress          NaN       GiuseMSD
12     45        NaN      NaN  In Progress          NaN      chrisdiao
13     35        NaN      NaN  In Progress          NaN  manish2kcoder
14     41        NaN      NaN  In Progress          NaN    amanthegeek
15     50        NaN      NaN  In Progress          NaN  manish2kcoder
16     52        NaN      NaN          NaN  Peer Review       mnjenga2
17     48        NaN      NaN          NaN  Peer Review       baker371

In [61]:
df_merge = df_merge.rename({'number':'Total'}, axis=1)
df_merge.groupby('Assigned').count()

               Total  New Issues  Backlog  In Progress  Peer Review
Assigned
GiuseMSD           1           0        0            1            0
amanthegeek        1           0        0            1            0
baker371           2           0        0            1            1
chrisdiao          5           0        4            1            0
dtollaku           1           0        1            0            0
lucia15            1           0        1            0            0
manish2kcoder      5           0        3            2            0
mnjenga2           1           0        0            0            1